In [1]:
import omdb
import os
import pandas as pd
import numpy as np
import requests

omdb.set_default('apikey', "82e97a07")

# [DL] I ended up pulling the movies into one single CSV file
# one column has the titles, one column has the years

# L99_03 = ['1999','2000','2001','2002','2003'] #Adam
# L04_08 = ['2004','2005','2006','2007','2008'] #David
# L09_13 = ['2009','2010','2011','2012','2013'] #Neil
# L14_18 = ['2014','2015','2016','2017','2018'] #Robin
#df = pd.read_excel('movies_1999_2019.xlsx',sheet_name =L04_08,encoding='latin-1',header = None)

In [2]:
df = pd.read_csv("movies_1999_2019_singletable_ut8.csv")
#df = pd.read_csv("../resources/movies_metadata.csv")
df.head(10)

                                  Title  Year
0            10 Things I Hate About You  1999
1                      The 13th Warrior  1999
2                        200 Cigarettes  1999
3                         The 4th Floor  1999
4                                   8mm  1999
5  The Adventures of Elmo in Grouchland  1999
6                       American Beauty  1999
7                        American Movie  1999
8                          American Pie  1999
9                          Analyze This  1999

In [102]:
# films_04 = df.loc[df['Year']==2004]
# films_05 = df.loc[df['Year']==2005]
# films_06 = df.loc[df['Year']==2006]
# films_07 = df.loc[df['Year']==2007]
# films_08 = df.loc[df['Year']==2008]

In [3]:
films_2004to2008 = df.loc[(df['Year']==2004) | (df['Year']==2005) | (df['Year']==2006) | (df['Year']==2007) | (df['Year']==2008)]
len(films_2004to2008)

# [Dl] pulling just the first 50 movies for a quick test
films_2004to2008_test = films_2004to2008.head(50)

In [104]:
# df[0] will be the first year in the list, [1] the second, etc.
# Module for reading CSV files

# [DL] this pulls the 'Title' for the API call later on
films_2004to2008_test['Title']

1113                              13 Going on 30
1114                              50 First Dates
1115                            After the Sunset
1116                           Against the Ropes
1117      Agent Cody Banks 2: Destination London
1118                                   The Alamo
1119                                   Alexander
1120                                       Alfie
1121                          Alien vs. Predator
1122                            Along Came Polly
1123                    America's Heart and Soul
1124    Anacondas: The Hunt for the Blood Orchid
1125       Anchorman: The Legend of Ron Burgundy
1126                             Around the Bend
1127                 Around the World in 80 Days
1128          The Assassination of Richard Nixon
1129                                 The Aviator
1130              Barbershop 2: Back in Business
1131                               Before Sunset
1132                                 Being Julia
1133                       Benji: Off the Leash!
1134                 The Best Thief in the World
1135                              Beyond the Sea
1136                              The Big Bounce
1137                                       Birth
1138                              Blade: Trinity
1139                                 Black Cloud
1140                          The Blue Butterfly
1141               Bobby Jones: Stroke of Genius
1142                                Book of Love
1143                          Born into Brothels
1144                        The Bourne Supremacy
1145                      Breakin' All the Rules
1146           Bridget Jones: The Edge of Reason
1147                          Brother to Brother
1148                        The Butterfly Effect
1149                              Catch That Kid
1150                                    Catwoman
1151                                    Cellular
1152                               Celsius 41.11
1153                             Chasing Liberty
1154                   Christmas with the Kranks
1155                   The Chronicles of Riddick
1156                          A Cinderella Story
1157                                The Clearing
1158                 Clifford's Really Big Movie
1159                                      Closer
1160                           Cloud Cuckoo Land
1161                                  Club Dread
1162                                  Collateral
Name: Title, dtype: object

In [4]:
titles = []
metascore = []
imdb_rating = []
imdb_votes = []
rated = []
runtime = []
released = []
genre = []
box_office = []
year = []

imdb_source = []
imdb_score = []

rotten_source = [] # [DL] not used yet. depends on if we want to include the rotten tomatoe info
rotten_score = []

metacrit_source = [] # [DL] not used yet. depends on if we want to include the metacritic info
metacrit_score = []

notfound = 0
found = 0
total = len(df)
j = 0

In [111]:
for film in films_2004to2008_test['Title']:
    try:
        response = omdb.get(title={film}) 
        titles.append(response["title"])
    except:
        titles.append('null')
    try:
        box_office.append(response["box_office"])
    except:
        box_office.append('null')
    try:
        metascore.append(response["metascore"])
    except:
        metascore.append('null')
    try:
        imdb_rating.append(response["imdb_rating"])
    except:
        imdb_rating.append('null')
    try:
        imdb_votes.append(response["imdb_votes"])
    except:
        imdb_votes.append('null')
    try:
        rated.append(response["rated"])
    except:
        rated.append('null')
    try:
        genre.append(response["genre"])
    except:
        genre.append('null')
    try:
        runtime.append(response["runtime"])
    except:
        runtime.append('null')
    try:
        released.append(response["released"])
    except: 
        released.append('null')
    try:
        year.append(response["year"])
    except:
        year.append('null')


        #imdb_source.append(response['ratings'][0]['source']) #IMDB source 
        #imdb_score.append(response['ratings'][0]['value']) #IMDB score
        
         

        #rotten_source.append(response['ratings'][1]['source']) #rotten tomatoes source
        #rotten_score.append(response['ratings'][1]['value']) #rotten tomatoes score

        #metacrit_source.append(response['ratings'][2]['source']) #metacritic source
        #metacrit_source.append(response['ratings'][2]['value']) #metacritic score

        #j += 1
        #found += 1
        #print(f"Processing Record {j} of {total} | {film}")
#     except:
#         print(f"Processing Record {j} of {total} | {film} not found - skipping.")
#         notfound += 1
        
#pct_movie_found = round(found/(notfound+found)*100,1)       
#print(f"{pct_movie_found}% of movies found")

# Coverting to a dataframe 


df = pd.DataFrame({'Title': titles, 'Metascore': metascore, 'Rated': rated,'Runtime': runtime,'Released': released, 'Year': year, 'Genre': genre,'Box Office': box_office,
                  'imdb_rating': imdb_rating, 'imdb_votes': imdb_votes})
#df
#df = pd.DataFrame({'Title': titles, 'Metascore': metascore, 'Rated': rated,'Runtime': runtime,'Released': released, 'Year': year, 'Genre': genre,'Box Office': box_office,
                  #'imdb_rating': imdb_rating, 'imdb_votes': imdb_votes, 'imdb_source':imdb_source, 'imdb_score':imdb_score, 'rotten_source': rotten_source, 'rotten_score': rotten_score})
#df.to_csv("films.csv", encoding="utf-8", index=False)

In [113]:
df

,Title,Metascore,Rated,Runtime,Released,Year,Genre,Box Office,imdb_rating,imdb_votes
0,13 Going on 30,57,PG-13,98 min,23 Apr 2004,2004,"Comedy, Fantasy, Romance","$54,600,000",6.1,"152,200"
1,50 First Dates,48,PG-13,99 min,13 Feb 2004,2004,"Comedy, Drama, Romance","$120,776,832",6.8,"307,481"
2,After the Sunset,38,PG-13,97 min,12 Nov 2004,2004,"Action, Comedy, Crime, Drama","$28,300,000",6.3,"42,616"
3,Against the Ropes,36,PG-13,111 min,20 Feb 2004,2004,"Biography, Drama, Romance, Sport","$5,696,752",5.3,"6,384"
4,Agent Cody Banks 2: Destination London,32,PG,100 min,12 Mar 2004,2004,"Action, Adventure, Comedy, Family, Romance, Sc...","$23,222,861",4.5,"13,203"
5,The Alamo,47,PG-13,137 min,09 Apr 2004,2004,"Drama, History, War, Western",N/A,6.0,"18,759"
6,Alexander,39,R,175 min,24 Nov 2004,2004,"Action, Biography, Drama, History, Romance, War","$34,264,081",5.6,"155,529"
7,Alfie,49,R,103 min,05 Nov 2004,2004,"Comedy, Drama, Romance","$13,351,235",6.2,"48,352"
8,Alien vs. Predator,29,PG-13,101 min,13 Aug 2004,2004,"Action, Adventure, Horror, Sci-Fi, Thriller","$80,218,314",5.6,"175,415"
9,Along Came Polly,44,PG-13,90 min,16 Jan 2004,2004,"Comedy, Romance","$87,856,565",5.9,"119,453"
10,null,null,null,null,null,null,null,null,null,null
11,Anacondas: The Hunt for the Blood Orchid,40,PG-13,97 min,27 Aug 2004,2004,"Action, Adventure, Horror, Thriller","$31,500,000",4.6,"26,613"
12,Anchorman: The Legend of Ron Burgundy,63,PG-13,94 min,09 Jul 2004,2004,Comedy,"$84,136,909",7.2,"311,081"
13,Around the Bend,46,R,85 min,20 Jan 2005,2004,Drama,"$117,093",6.4,"4,056"
14,Around the World in 80 Days,49,PG,120 min,16 Jun 2004,2004,"Action, Adventure, Comedy, Family, Western",N/A,5.9,"79,633"
15,The Assassination of Richard Nixon,63,R,95 min,22 Oct 2004,2004,"Biography, Crime, Drama, History, Thriller","$578,554",7.0,"24,686"
16,The Aviator,77,PG-13,170 min,25 Dec 2004,2004,"Biography, Drama","$102,563,679",7.5,"311,215"
17,Barbershop 2: Back in Business,59,PG-13,106 min,06 Feb 2004,2004,"Comedy, Drama","$64,955,956",5.7,"13,542"
18,Before Sunset,90,R,80 min,30 Jul 2004,2004,"Drama, Romance","$5,600,000",8.0,"211,375"
19,Being Julia,65,R,104 min,18 Feb 2005,2004,"Comedy, Drama, Romance","$7,652,647",7.0,"11,612"
20,Benji: Off the Leash!,49,PG,97 min,20 Aug 2004,2004,"Drama, Family","$3,700,000",4.7,489
21,The Best Thief in the World,N/A,R,93 min,16 Jan 2004,2004,"Comedy, Drama",N/A,4.9,456
22,Beyond the Sea,46,PG-13,118 min,29 Dec 2004,2004,"Biography, Drama, Music, Musical","$6,144,806",6.7,"14,079"
23,The Big Bounce,42,PG-13,88 min,30 Jan 2004,2004,"Comedy, Crime","$6,331,346",4.9,"17,147"
24,Birth,50,R,100 min,29 Oct 2004,2004,"Drama, Fantasy, Mystery, Thriller","$5,005,883",6.1,"32,911"
25,Blade: Trinity,38,R,113 min,08 Dec 2004,2004,"Action, Adventure, Horror, Sci-Fi, Thriller","$52,400,000",5.9,"157,611"
26,Black Cloud,N/A,PG-13,97 min,30 Apr 2004,2004,Drama,N/A,6.1,464
27,The Blue Butterfly,N/A,PG,97 min,26 Aug 2004,2004,"Drama, Adventure",N/A,6.3,"1,408"
28,Bobby Jones: Stroke of Genius,45,PG,120 min,30 Apr 2004,2004,"Biography, Drama, Romance, Sport","$2,536,460",6.7,"3,574"
29,Book of Love,N/A,R,83 min,18 Jan 2004,2004,"Comedy, Drama",N/A,5.4,"1,553"
30,Born Into Brothels: Calcutta's Red Light Kids,78,R,85 min,11 Mar 2005,2004,Documentary,"$3,370,574",7.3,"14,809"
31,The Bourne Supremacy,73,PG-13,108 min,23 Jul 2004,2004,"Action, Mystery, Thriller","$176,049,130",7.7,"410,791"
32,Breakin' All the Rules,46,PG-13,85 min,14 May 2004,2004,"Comedy, Romance","$11,827,301",5.7,"5,660"
33,Bridget Jones: The Edge of Reason,44,R,108 min,19 Nov 2004,2004,"Comedy, Drama, Romance","$40,203,020",6.0,"97,616"
34,Brother to Brother,57,Not Rated,94 min,17 Jan 2004,2004,Drama,N/A,7.0,"1,023"
35,The Butterfly Effect,30,R,113 min,23 Jan 2004,2004,"Drama, Sci-Fi, Thriller","$57,200,000",7.6,"425,529"
36,Catch That Kid,33,PG,91 min,06 Feb 2004,2004,"Adventure, Comedy, Crime, Family, Mystery","$16,532,227",5.2,"9,131"
37,Catwoman,27,PG-13,104 min,23 Jul 2004,2004,"Action, Crime, Fantasy","$40,200,000",3.3,"103,518"
38,Cellular,60,PG-13,94 min,10 Sep 2004,2004,"Action, Crime, Thriller","$32,003,620",6.5,"88,721"
39,Celsius 41.11: The Temperature at Which the Br...,42,R,72 min,22 Oct 2004,2004,"Documentary, War",N/A,4.4,"1,367"
40,Chasing Liberty,46,PG-13,111 min,09 Jan 2004,2004,"Comedy, Romance",N/A,6.1,"34,596"
41,Christmas with the Kranks,22,PG,99 min,24 Nov 2004,2004,"Comedy, Family","$73,701,902",5.3,"37,139"
42,The Chronicles of Riddick,38,R,119 min,11 Jun 2004,2004,"Action, Adventure, Sci-Fi, Thriller","$56,800,000",6.7,"205,541"
43,A Cinderella Story,25,PG,95 min,16 Jul 2004,2004,"Comedy, Family, Romance","$51,100,000",5.9,"75,820"
44,The Clearing,60,R,95 min,16 Jul 2004,2004,"Drama, Mystery, Thriller","$5,572,013",5.9,"12,786"
45,Clifford's Really Big Movie,49,G,74 min,23 Apr 2004,2004,"Animation, Adventure, Comedy, Family","$2,782,548",5.3,675
46,Closer,65,R,104 min,03 Dec 2004,2004,"Drama, Romance","$33,987,757",7.2,"192,169"
47,Cloud Cuckoo Land,N/A,N/A,92 min,15 Aug 2012,2012,Drama,N/A,7.3,24
48,Club Dread,45,R,104 min,27 Feb 2004,2004,"Comedy, Horror, Mystery, Thriller","$4,559,739",5.7,"27,021"
49,Collateral,71,R,120 min,06 Aug 2004,2004,"Crime, Drama, Thriller","$100,003,492",7.5,"337,991"

In [112]:
print(len(titles))
print(len(metascore))
print(len(runtime))
print(len(released))
print(len(year))
print(len(genre))
print(len(box_office))
print(len(imdb_rating))
print(len(imdb_votes))

50
50
50
50
50
50
50
50
50

In [ ]:
#lst1 <- lapply(response, function(x) do.call(c,lapply(x, function(y) {y[is.null(y)] <- NA;y}))) 

#df = pd.DataFrame({'Title': titles, 'Metascore': metascore, 'Rated': rated,'Runtime': runtime,'Released': released, 'Year': year, 'Genre': genre,'Box Office': box_office,
                  #'imdb_rating': imdb_rating, 'imdb_votes': imdb_votes})
#df.to_csv("films.csv", encoding="utf-8", index=False)